.el-dialog__title {
    color: #A5ADBC;
}

.el-table .el-table__body-wrapper .el-table__cell {
    background-color: #303641;
}

.el-pagination .btn-prev {
    background-color: #303641 !important;
    color: #A5ADBC !important;
}

.el-pagination .el-pager li {
    background-color: #303641 !important;
    color: #A5ADBC !important;
}

.el-pagination .el-pager li:not(.disabled).active {
    color: #FFFFFF !important;
    background-color: #0C7FA8 !important;
}

.el-pagination .btn-next {
    background-color: #303641 !important;
    color: #A5ADBC !important;
}

.el-dropdown-menu {
    background-color: #353C48 !important;
    color: #A5ADBC !important;
    border: 1px solid #797979 !important;
}

.el-dropdown-menu__item {
    background-color: #303641 !important;
    color: #A5ADBC !important;
}

.el-dropdown-menu__item:hover {
    background-color: #262B34 !important;
    color: #FFFFFF !important;
}

.el-breadcrumb__inner {
    color: #A5ADBC;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner {
    color: #A5ADBC;
}

.el-collapse-item__header {
    padding-left: 20px;
    border-radius: 5px;
}

.el-collapse-item__content {
    padding: 10px 20px 10px 20px;
}

.el-card {
    background-color: #303641;
}