$--color-primary: #0C7FA8;

$--input-border: 1px solid #555555;
$--input-border-color: #555555;
$--input-hover-border: #9c9c9c;
$--input-background-color: #353C48;
$--input-font-color: #92A0B1;
$--input-placeholder-color: #92A0B1;

$--link-color: #92A0B1;
$--link-hover-color: #92A0B1;

$--button-primary-background-color: #0C7FA8;

$--button-default-background-color: #303641;
$--button-default-font-color: #92A0B1;
$--button-default-border-color: #555555;

$--dialog-background-color: #353C48;

$--table-header-background-color: #303641;
$--table-header-font-color: #A5ADBC;
$--table-font-color: #A5ADBC;
$--table-row-hover-background-color: #2A3039;
$--table-border-color: #797979;

$--collapse-border-color: #303641;
$--collapse-header-font-color: #0C7FA8;
$--collapse-header-background-color: #303641;
$--collapse-content-background-color: #353C48;
$--collapse-header-height: 55px;
$--collapse-header-font-size: 13px;
$--collapse-content-font-size: 13px;
$--collapse-content-font-color: #A5ADBC;

$--card-border-color: #303641;
$--card-border-radius: 10px;
$--card-padding: 10px;

$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";