.el-col {
    color: #92A0B1;
}

.el-dialog__title {
    color: #A5ADBC;
}

.el-table {
    background-color: #303641;
}

.el-table tr {
    background-color: #303641;
}

.el-table .el-table__body-wrapper .el-table__cell {
    background-color: #303641;
}

.el-table__fixed .el-table__fixed-body-wrapper .el-table__cell {
    background-color: #303641;
}

.el-pagination .btn-prev {
    background-color: #303641 !important;
    color: #A5ADBC !important;
}

.el-pagination .el-pager li {
    background-color: #303641 !important;
    color: #A5ADBC !important;
}

.el-pagination .el-pager li:not(.disabled).active {
    color: #FFFFFF !important;
    background-color: #3EAAD1 !important;
}

.el-pagination .btn-next {
    background-color: #303641 !important;
    color: #A5ADBC !important;
}

.el-pagination__total {
    color: #A5ADBC;
}

.el-dropdown-menu {
    background-color: #353C48 !important;
    color: #A5ADBC !important;
    border: 1px solid #797979 !important;
}

.el-dropdown-menu__item {
    background-color: #303641 !important;
    color: #A5ADBC !important;
}

.el-dropdown-menu__item:hover {
    background-color: #262B34 !important;
    color: #FFFFFF !important;
}

.el-breadcrumb__inner {
    color: #A5ADBC;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner {
    color: #A5ADBC;
}

.el-collapse-item__header {
    padding-left: 20px;
    border-radius: 5px;
}

.el-collapse-item__content {
    padding: 10px 20px 10px 20px;
}

.el-card {
    background-color: #303641;
}

.el-date-editor .el-range-input {
    background-color: #3EAAD1;

    &::placeholder {
        color: #FFFFFF;
    }

    &::-webkit-input-placeholder {
        /* WebKit browsers 适配谷歌 */
        color: #FFFFFF;
    }

    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 适配火狐 */
        color: #FFFFFF;
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 19+ 适配火狐 */
        color: #FFFFFF;
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10+  适配ie*/
        color: #FFFFFF;
    }
}

.el-date-editor .el-range-separator {
    color: #92A0B1;
}

.el-date-range-picker .el-picker-panel__body-wrapper {
    background-color: #353C48;
}

.el-date-range-picker .el-date-range-picker__header div {
    color: #FFFFFF;
}

.el-date-range-picker .el-picker-panel__icon-btn {
    color: #92A0B1;
}

.el-date-range-picker .el-picker-panel__icon-btn {
    color: #3EAAD1;
}

.el-form .el-form-item {
    margin: 5px 10px 5px 10px;
}

.el-form .el-form-item .el-form-item__label {
    color: #92A0B1;
}

